@charset "UTF-8";
*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #001534;
}

body {
  font-family: "Arial", sans-serif;
  color: #D6FFF5;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Arial", sans-serif;
  color: #001534;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
  text-align: center;
  text-shadow: 0.35rem 0.35rem #fff;
}

h2 {
  font-family: "Arial", sans-serif;
  color: #001534;
  font-weight: 700;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  text-shadow: 0.35rem 0.35rem #fff;
  line-height: 1;
}

h3 {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

textarea {
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.tooltiptext {
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

button {
  font-family: "Arial", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.btn {
  background: transparent;
  border: none;
  filter: invert(66%) sepia(79%) saturate(446%) hue-rotate(107deg) brightness(91%) contrast(98%);
  cursor: pointer;
}
.btn:hover {
  filter: invert(97%) sepia(49%) saturate(356%) hue-rotate(75deg) brightness(101%) contrast(105%);
}
.btn img {
  max-height: 8rem;
}

.navcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subcontainer {
  overflow-x: hidden;
  width: 70%;
  border: 0.1rem solid #D6FFF5;
}

.carousel {
  width: 1600px;
  display: flex;
  justify-content: space-evenly;
}

.movieMiniature {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 35px;
  font-family: Times;
  line-height: 2;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
  background-clip: text;
  color: transparent;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 200px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.header {
  background: #15DEA5;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header__logo {
  height: 150px;
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 2rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #001534;
}
.nav__link a:hover {
  color: #D6FFF5;
}

.container {
  margin: 6rem;
}

.frontPageMovie {
  height: 25rem;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #15DEA5;
  box-shadow: -6px 12px 8px 0 rgba(255, 255, 255, 0.2);
}
.frontPageMovie__leftBlock {
  height: 100%;
  width: 30%;
  float: left;
}
.frontPageMovie__leftBlock__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frontPageMovie__rightBlock {
  height: 100%;
  width: 70%;
  float: right;
  padding-left: 2rem;
}
.frontPageMovie__rightBlock__line1 {
  width: 100%;
  height: 30%;
}
.frontPageMovie__rightBlock__line2 {
  width: 100%;
  height: 30%;
}
.frontPageMovie__rightBlock__line2__btn {
  margin-top: 2rem;
  margin-left: 40%;
  background-color: #001534;
  color: #D6FFF5;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
}
.frontPageMovie__rightBlock__line2__btn:hover {
  background-color: #002a67;
  color: #fff;
}
.frontPageMovie__rightBlock__line3 {
  width: 100%;
  height: 40%;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.infoWindow {
  height: 100%;
  width: 90%;
  max-width: 1200px;
  padding: 0.3rem 1.5rem 0 1.5rem;
  border: 0.1rem solid #D6FFF5;
  border-radius: 8px;
  margin: auto;
  background-color: #001534;
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 1.2fr;
  grid-template-rows: 0.25fr repeat(4, 1fr);
}
.infoWindow__closebtndiv {
  grid-column: 1/5;
  grid-row: 1/2;
  position: relative;
}
.infoWindow__closebtndiv__btn {
  background: transparent;
  border: none;
  color: #15DEA5;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
}
.infoWindow__closebtndiv__btn:hover {
  color: #D6FFF5;
}
.infoWindow__img {
  grid-column: 1/2;
  grid-row: 2/4;
  width: 100%;
  max-width: 240px;
  height: 100%;
  object-fit: cover;
  border: 0.1rem solid #D6FFF5;
  border-radius: 8px;
  box-shadow: 3px 6px 8px 0 rgba(255, 255, 255, 0.4);
}
.infoWindow__title {
  grid-column: 2/5;
  grid-row: 2/3;
}
.infoWindow__title__line1, .infoWindow__title__line2 {
  margin-left: 5%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border: 0.1rem solid #D6FFF5;
  border-radius: 8px;
  margin-bottom: 1%;
}
.infoWindow__title__line1 {
  height: 60%;
  background-color: #15DEA5;
  color: #001534;
  padding: 1.5rem;
}
.infoWindow__title__line2 {
  margin-top: 1%;
  padding: 0.8rem;
}
.infoWindow__informations {
  grid-column: 2/5;
  grid-row: 3/4;
  position: relative;
}
.infoWindow__informations__line1, .infoWindow__informations__line2 {
  padding: 0.8rem;
  margin-left: 5%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.infoWindow__informations__line1 {
  height: 50%;
}
.infoWindow__informations__line2 {
  position: absolute;
  bottom: 0;
}
.infoWindow__details {
  grid-column: 1/5;
  grid-row: 4/6;
  justify-content: space-between;
}
.infoWindow__details__leftBlock {
  height: 90%;
  width: 49%;
  float: left;
  border: 0.1rem solid #D6FFF5;
  border-radius: 8px;
  padding: 0.8rem;
  margin-top: 2%;
  overflow: auto;
  font-size: 1.2rem;
  text-align: justify;
}
.infoWindow__details__rightBlock {
  height: 90%;
  width: 49%;
  float: right;
  border: 0.1rem solid #D6FFF5;
  border-radius: 8px;
  padding: 0.8rem;
  margin-top: 2%;
  overflow: auto;
  font-size: 1.2rem;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
